h1{
  margin-top:-10px;
}

h2,h3{
  background-color: whitesmoke;
  padding:10px;
  margin-top:50px;
}

a{
  text-decoration:none;
}

table th,table td{
  border-collapse: separate;
  border:solid 1px gainsboro;
  padding:4px;
}
table th{
  color:white;
  background-color: darkseagreen;
}
table tr:nth-child(odd) td {
background: snow;
}

.menu{
  height:30px;
  width:30px;
  position:relative;
  top:20px;
  left:5px;
  margin-right:10px;
  display:none;
}
  .menu::before{
    content: "";
    display: block;
    position: relative;
    width: 25px;
    height: 3px;
    top: 6px;
    left: 2px;
    background: dimgray;
    box-shadow: 0px 8px dimgray, 0px 16px rgb(80, 79, 79);
  }

.menu2{
  height:30px;
  width:30px;
  position:relative;
  top:10px;
  margin-right:5px;
}
  .menu2::before{
    content: "";
    display: block;
    position: relative;
    width: 20px;
    height: 2px;
    top: 6px;
    left: 2px;
    background: dimgray;
    box-shadow: 0px 6px dimgray, 0px 12px rgb(80, 79, 79);
  }

.link{
  display: inline-block;
  position:relative;
  height:10px;
  width:10px;
  top:2px;
  border:solid 2px gray;
  margin-right:4px;
}
  .link:after{
    content:'';
    position:absolute;
    height:12px;
    width:2px;
    background-color:gray;
    top:-4px;
    left:7px;
    transform:rotate(45deg);
  }
  .link:before{
    content:'';
    position:absolute;
    height:0px;
    width:0px;
    border-left: 8px solid white;
    border-top: 8px solid gray;
    top:-5px;  
    left:7px;
  }

.side-layout{
  width:300px;
  position:fixed;
  top: 90px;
  left:5px;
  height: calc(100vh - 90px); 
  overflow:auto;
  background-color: white;
  flex-shrink: 0;
  z-index: 30;
  transition: .2s;
}

.flex-wrap{
  display:flex;
  flex-wrap: wrap;
}

.flex-nowrap{
  display: flex;
  flex-wrap: nowrap;
}

.title{
  margin-left:10px;
  font-size:38px;	
  font-family:'メイリオ', 'Meiryo', sans-serif; 
  font-weight:400;
  color:dimgray; 
  background-color:rgba(255,255,255,0.5);
}

.ext-link{
  position:absolute;
  top:10px;
  right:1.5rem;
  display:flex;
  flex-wrap:wrap;
}

.ext-link-icon{
  height:30px;
  width:30px;
}

.body-font{
  font-family:'メイリオ', 'Meiryo', sans-serif; 
  color:dimgray;
}

.side-summary{
  font-size:18px;
  margin-top:6px;
}

.side-content{
  font-size:16px; 
  margin-left:18px; 
  margin-right:14px;
}

.main-content{
  position: fixed;
  top:90px;
  left:315px;
  height: calc(100vh - 90px);
  width: calc(100vw - 315px);
  overflow-x:hidden;
  overflow-y:auto;
}

.comment{
  font-size:18px;
}

.cbtitle{
  position:relative;
  top:16px;
}

.comment_books {
	position: relative;
	background: #E6FFE9;
  border-radius: 30px;
  padding-left: 10px;
  left: 20px;
  margin-left:15px; 
  display:flex; 
  align-items:center; 
  color:dimgray;
  max-width: calc(100vw - 510px);
}

.comment_books:before{
  content:"";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #E6FFE9;
  border-bottom: 13px solid transparent;
}

.link-box {
  border:1px solid #e1e1e1;
  padding:10px;
  display:flex;
  margin:30px
}
.link-box:hover {
  background-color:#f3f3f3;
  -webkit-transition:background-color .35s;
  transition:background-color .35s
}
.img-box {
  width:20%;
  float:left
}
.img-box div {
  min-height:100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center center
}
.text-box {
  width:75%;
  float:left;
  padding-left:20px;
  line-height:1.4;
  margin:0
}
.text-box .title {
  font-size:18px;
  font-weight:600;
  color:#428bca;
  padding:0;
  margin:0
}
.text-box .description {
  font-size:15px;
  color:#333;
  padding:0
}
@media only screen and (max-width:479px) {
  .img-box div {
    min-height:80px
  }
  .text-box {
    margin-left:10px;
    line-height:1.5
  }
  .text-box .title {
    font-size:13px;
    margin:0
  }
  .text-box .description {
    font-size:11px;
    margin-top:5px
  }
}

@media (max-width: 768px) {
  .side-layout{
    left: -100%;
    height: calc(100vh - 130px); 
  }
  .menu{
    display:block;
  }

  .main-content{
    left:5px;
    width: calc(100vw - 5px);
    height: calc(100vh - 130px);
  }

  .comment_books {
    max-width: calc(100vw - 190px)
  }
}
